.windmill {
  width: 100px;
  height: 100px;
  border-top: 10px solid #3498db;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-radius: 50%;
  animation: rotate 2s infinite linear;
}

.slow {
  animation-duration: 4s;
}

.medium {
  animation-duration: 2s;
}

.fast {
  animation-duration: 1s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.windmill {
  width: 100px;
  height: 100px;
  border-top: 10px solid #3498db;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-radius: 50%;
  animation: rotate 2s infinite linear;
  margin-bottom: 20px; /* Agrega un margen inferior para separar el molino de viento de los botones */
}

.slow {
  animation-duration: 10s;
}

.medium {
  animation-duration: 5;
}

.fast {
  animation-duration: 1s;
}

.controls button {
  display: block; /* Muestra los botones en bloques para que aparezcan en líneas separadas */
  margin-bottom: 10px; /* Agrega un margen inferior para separar los botones */
}
