@tailwind base;
@tailwind components;
@tailwind utilities;

/* En NavBar.css */
.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; /* Asegura que el NavBar esté en la parte superior */
}

/* En SideBar.css */
.custom-sidebar {
  position: fixed;
  top: 50px; /* Ajusta la altura según tu diseño */
  left: 0;
  bottom: 0;
  width: 200px; /* Ancho fijo */
  z-index: 1; /* Índice Z inferior para el SideBar */
  background-color: #444; /* Color de fondo del SideBar */
}

.sidebar-item {
  padding: 16px;
  color: #fff; /* Color de texto */
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: #555; /* Color de fondo al pasar el ratón por encima */
}

/* En Dash.css */
.dashboard-content {
  margin-left: 240px; /* Ajusta según el ancho del SideBar */
  padding: 16px; /* Añade espacio alrededor del contenido */
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
}
.content-container {
  flex: 1;
  margin-left: 240px; /* Ajusta según el ancho del SideBar */
  padding: 16px; /* Añade espacio alrededor del contenido */
}
